.inputRoot {
    color: 'inherit'
}

.inputInput {
    padding: 1%;
   // marginLeft:'-10em',
    // vertical padding + font size from searchIcon
   // paddingLeft: `calc(1em + ${theme.spacing(4)}px)`,
    color: '#707070';
    //transition: theme.transitions.create('width'),
    //theme.breakpoints.up('md')]: {
        width: '20ch';
       // marginLeft:'-3em'
    }

    .search {
        position: 'relative';
        display:flex;
       background-color: whitesmoke;
       width: 30em;
       height: 2.8em;
       border-radius: 5px;
       flex-direction:row;
       
    }

    .SearchIcon{
        margin-top: 0.3em;
        color: #707070;
    }


    @media only screen and (max-width: 599px) {
      .search{
          width: 15em;
      }
      }

