.mainDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    row-gap: 2%;
}

.mainDivCard{
    margin-top: 2%;
    display: flex;
    padding-right: 12em;
    padding-left: 12em;
    flex-direction: column;
    justify-content: space-around;
}

.pagination{
        display: flex;
    justify-content: flex-end;
    margin-top: 3em;
}

.formControl{
    width: 20em;
    font-size: 7px;
}

.buttonBack{
    display: flex;
    justify-content: flex-start;
}
.navBar{
    width: 100%;
    background-color: black;
}
.mainCard{
margin-top: 2em;
display: flex;
flex-direction: column;
}

.cardMediaDiv{
    background-color:#f6f3f3;
}

.cardMainDiv{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.actionCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mediaCard{
    width: 11em;
    height: 15em;
}
.cardContent{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.button{
    //background-color: brown;
    font-size: 10px;
}


.titleCard{
    margin-top: 2em;
    width: 20em;
    height: 15em;

}
.mySelect__control css-yk16xz-control{
    height: 35px;
    width: 11em;
   }

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
   
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e6dede; 
  }


@media only screen and (max-width: 599px) {
    .mainCard{
        width: 60%;
    }

    .button{
        font-size: 6px;
    }
    .cardMainDiv{
        flex-direction:column;
        column-gap: 2%
    }
    .mainDivCard{
       
        padding-right: 3em;
        padding-left: 3em;
     
    }
  }


@media only screen and (min-width: 600px) and (max-width: 1279px) {

    .mainDivCard{  
       padding-right: 8em;
       padding-left: 8em;
     
    }
  }

 // @media only screen and (min-width: 960px) and (max-width: 1279px)
  

