$orangeRed: #E26003;
$blackPearl: #40494D;
$paleSky:  #666D70;
$whitesmoke:whitesmoke;
$iron: #C5C8C9;
$sunsetOrange: #FF4D4D;
$gainsboro: #E2E2E2;
$balanceGreen: #658292;
$black: #150000;
$lightOrange: #F2B990;
$whitecolor:#F7F7F7;
$lightgraycolor: #ACADAD;
$lightwhitecolor:#F5F5F5;
$lightblue:#91BFF5;
$white:#FFFFFF;
$lightgreen:#8FAF26;
 $softgreen: #6D8814;
 $darkblue:#2680EB;
 $gray:#707070;
 $brown:#5e0606!important